* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: PT Serif, Regular;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 87.5px 32px 0;
  h3 {
    font-size: 40px;
    font-weight: normal;
    color: white;
  }
  h4 {
    font-size: 14px;
    color: #0d67b4;
    padding-bottom: 20px;
    width: 105px;
    text-align: center;
    border-bottom: 0.5px solid #e6e6e6;
    margin-bottom: 61px;
    font-weight: 300;
  }
}

.trustworthy {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 32px;
  .from-time {
    font-size: 14px;
    color: #e6e6e6;
    margin-bottom: 10px;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  .trustworthy-friend {
    font-family: pt-serif, serif;
    font-weight: 700;
    font-style: normal;
    color: #0d67b4;
    font-size: 40px;
  }
}
.jobs {
  width: 100%;
  padding: 0 32px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 5px;
  justify-content: center;
  font-family: Gibson, Light;
  .jobs-description {
    color: #e6e6e6;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 200;
    font-style: normal;
    .circle {
      margin-right: 8px;
      font-size: 10px;
    }
  }
}
.background-image {
  margin: 68px 0;
  width: 100%;
  img {
    width: 100%;
  }
}
.contact-us {
  padding: 0 32px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  .contact-us-title {
    color: #e6e6e6;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .contact-us-description {
    color: #e6e6e6;
    font-size: 14px;
    margin-bottom: 2px;
  }
}
.telephone {
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
  .telephone-box {
    background-color: #0d67b4;
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    a {
      color: #e6e6e6;
      text-decoration: none;
      font-size: 14px;
      margin-bottom: -2px;
    }
  }
}

.background-image-map {
  padding: 0 32px;
  width: 100%;
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}

.location {
  padding: 0 32px;
  text-align: center;
  margin-bottom: 90px;
  p {
    color: #e6e6e6;
    font-size: 14px;
  }
}

.instagram {
  width: 100%;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  p {
    font-size: 30px;
    color: #e6e6e6;
    margin-bottom: 30px;
  }
  .instagram-box {
    height: 35px;
    border-radius: 3px;

    background: transparent url("/assets/bg.svg") 0% 0% no-repeat padding-box;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      padding-right: 16px;
      font-size: 16px;
    }
  }
}
.footer {
  padding: 0 32px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #e6e6e6;
  margin-bottom: 45px;
}

@media (min-width: 500px) {
  .telephone {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .trustworthy-friend-2 {
    display: none;
  }
  .location-large {
    display: none;
  }
  .background-image-large {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0px 140px;
    position: relative;
  }
  .background-image-large {
    display: flex;
    position: absolute;
    z-index: -50;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    img {
      width: 100%;
    }
  }
  header {
    padding: 90px 0 0;
    border-bottom: 0.5px solid #e6e6e6;
    align-items: flex-start;
    margin-bottom: 38px;
    h4 {
      border: none;
      padding: 0;
      margin-bottom: 20px;
    }
  }
  .trustworthy {
    padding: 0;
    align-items: flex-start;
    .trustworthy-friend {
      display: none;
    }
    .trustworthy-friend-2 {
      font-size: 40px;
      color: #0d67b4;
      font-family: pt-serif, serif;
      font-weight: 700;
      font-style: normal;
    }
  }
  .jobs {
    padding: 0;
    margin-bottom: 92px;
    justify-content: flex-start;
  }
  .background-image {
    margin: 0;
    img {
      display: none;
    }
  }
  .contact-us {
    padding: 0;
    text-align: left;
    .contact-us-title {
      font-size: 20px;
    }
    .contact-us-title {
      font-size: 14px;
    }
  }
  .telephone {
    padding: 0;
    justify-content: flex-start;
  }
  .background-image-map {
    padding: 0;
    max-width: 330px;
    height: 90px;
  }
  .location {
    padding: 0;
    text-align: start;
    margin-bottom: 110px;
    .location-small {
      display: none;
    }
  }
  .instagram {
    padding: 0;
    align-items: flex-start;
    p {
      font-size: 20px;
    }
  }
  .footer {
    padding: 0;
    text-align: start;
  }
}
